.banner {
  display:block;
  margin: auto;
}

h2 {
  display:block;
  text-align:center;
  margin: auto;
}

.title {
  font-family: 'Rancho', serif;
  text-align: center;
  font-size : 7em;
}

table{
  margin: auto;
  border-collapse: collapse;
  width: 75%;
}

.sectionTitle{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  padding-bottom: 1.5em;
}
.profile{
  width: 25%;
  text-align: center;
}
.boardMember{
  font-family: 'Raleway', sans-serif;
  font-weight: 10em;
  font-size: 1.5em;
}
.name{
  font-weight: bold;
}
.profilePicture{
  text-align: center;
  width: 10em;
  height: 10em;
  border-radius: 0em;
}
