/* Features is the most important page

Emphasis on collaboration */

.banner {
  display:block;
  margin: auto;
}

h2 {
  display:block;
  text-align:center;
  margin: auto;
}

.title {
  font-family: 'Rancho', serif;
  text-align: center;
  font-size : 7em;
}

.about{
  width: 100%;
  background: #ED2E29;
}

table{
  margin: auto;
  border-collapse: collapse;
  width: 75%;
}

.sectionTitle{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  padding-bottom: 1.5em;
}
td{
  width: 25%;
  text-align: center;
  padding-top:2.5em;
  padding-bottom:2.5em;
}

.cardCell:hover .writeup{
  display: block;
}

.cardCell:hover .card {
  display:none;
}

.card{
  display:block;
}
.writeup{
  display: none;
}

.boardMember{
  font-family: 'Raleway', sans-serif;
  font-weight: 10em;
  font-size: 1.5em;
}
.name{
  font-weight: bold;
}
.profilePicture{
  text-align: center;
  width: 10em;
  height: 10em;
  border-radius: 5em;
}
