/* Written by Hamza Basrai */
.contactPage {
  width: 100%;
  background: #922a8e;
  padding-top: 1em;
}

.inputStyle {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  width: 30em;
  border-radius: 0.8em;
  border: 0px;
  text-align: left;
  padding-left: 0.8em;
}

.lineHeight {
  height: 2.5em;
}

.boxHeight {
  height: 12em;
  padding-top: 0.8em;
}

.contactTitle {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: none;
  margin: auto;
  width: 75%;
}

.contactBody {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 10em;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.submitButton {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  width: 5em;
  height: 2em;
  border-radius: 0.4em;
  border: 0px;
  background-color: #4285f4;
  color: #fff;
}

.icons {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 3em;
  line-height: 1;
  direction: ltr;
  float: left;
}

.contactDetails {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.divider {
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
  display: inline-block;
  vertical-align: middle;
  height: 18em;
}

.mapStyle {
  height: 250px;
  width:900px;
  border:0;
  border-radius:0.8em;
  padding-bottom:10px;
  padding-top:10px;
}
/* Written by Hamza Basrai */
