.container{
	margin: auto;
	padding: 0px;
  display: block;

}
.h1 {
    text-align: center;
	font-size: 60px;
    font-family: "Rancho",serif;
    }
.colorh1{
	color: #DC143C;
		}
.colorh2{
	color: #FF1493;
		}
.colorh3{
	color: #00008B;
		}
.colorh4{
	color: #1E90FF;
		}
.colorh5{
	color: 	#008B8B;
		}
.colorh6{
	color: #008000
		}

.h2{
	text-align: center;
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	}
.main{
	margin: 0px;
	padding: 0px;
	background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/asanoha-400px.png");
	background-repeat: repeat-xy;

	width: 100%;
    }

	.first{
	position: relative;
    border: 100;
    width: 100%;
    height: 324px;
    font-size: 7em;
    font-family: "Rancho",serif;
    text-align: center;
    padding-top: 30;
    text-transform: uppercase;
    color: black;


      }


.parent{
	position: relative;
	float: left;
	width: 100%;

	padding: 10px 0;

	}



.forWriting{
		position: relative;
		float: left;
        font-family: "Roboto",sans-serif;
        font-weight:400;
        text-align: left;
        font-size: 2em;
        width: 70%;
        height: 326px;
        text-transform: uppercase;
		padding-left: 22px;

       }

.forPic{
		position: relative;
        float: left;
		clear: right;
        width: 22%;
        height: 400px;
        overflow: hidden;
		margin: 22px;
		}
