.container{
	margin: auto;
	padding: 0px;
  display: block;
}
.h1 {
    text-align: center;
	font-size: 2em;
    font-family: "Rancho",serif;
    }
.colorh{
	color: #670138;
		}

.h2{
	text-align: center;
    font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	}
.main{
	margin: 0px;
	padding: 0px;
	background-color: #a8589e;

	width: 100%;
    }

	.first{
    border: 100;
    width: 100%;
    /*height: 324px;*/
    font-size: 7em;
    font-family: "Rancho",serif;
    text-align: center;
    padding-top: 30;
    text-transform: uppercase;
    color: black;


      }


.parent{
	width: 80%;
	margin: auto;
	padding: 10px 0;
	}



.forWriting{
		float: left;
        font-family: "Roboto",sans-serif;
        font-weight:400;
        text-align: left;
        font-size: 2em;
        width: 70%;
        /*height: 326px;*/
        text-transform: uppercase;
		padding-left: 22px;

       }

.forPic{
    float: left;
		clear: right;
        width: 22%;
        /*height: 400px;*/
        overflow: hidden;
		margin: 22px;
		}
