a.logo {
  font-size: 1.00em;
  padding-left: 10px;
  padding-top: 10px;
  display: inline;
  float: left;
}

a.logo span {
  background: url(WolfPack_Logo.svg) no-repeat right center;
  padding-right: 30px;  /* width of the image plus a little extra padding */
  font-family: 'Rancho', serif;
  color: white;
}

.nav {
  border: black 1px solid;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
